<section class="get-in-touch">
    <div class="container"> 
      <h3 class="title">Manejo de la confidencialidad de la información</h3>
      <p class="lead text-justify">
          Se tendrán en cuenta las consideraciones de Res. 8430 del 93, la ley 1581 del 2013 y
          decreto 1377 del 2013. Los resultados serán sistematizados en una base de datos,
          los datos de los sujetos de estudio estarán codificados en un número o similar de manera que no se revele su
          identidad.
          <br>
          No se permitirá la discriminación étnica, social, económica, laboral, cultural ni
          ninguna otra índole al sujeto de estudio y para ello se salvaguardará de manera
          confidencial la información pertinente. Como parte de la confidencialidad, estos
          resultados no se podrán utilizar para otro tipo de estudios diferentes al propuesto.
      </p>
      <br><br>
    <p class="lead text-justify">
        Conforme lo establece la ley 1581 de 2012 y sus decretos reglamentarios, manifiesto,
        de manera libre, previa y expresa, que <b>AUTORIZO</b>, para que realicen la recolección de
        los datos suministrados en el presente instrumento, el cual es de uso académico como
        trabajo de grado para optar por el titulo de ingeniero en sistemas de la Universidad del Cauca.
        La presente autorización permitirá el almacenamiento, uso de dicha información de manera académica.
        Tengo conocimiento del consentimiento informado y acepto participar.
    </p>

    <fieldset class="form-group">
        <div class="row">
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" (click)="change(true)" name="gridRadios" id="gridRadios1">
              <label class="form-check-label" for="gridRadios1"> <b> Acepto</b> </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" (click)="change(false)" checked name="gridRadios" id="gridRadios2">
              <label class="form-check-label" for="gridRadios2"> No acepto </label>
            </div>
          </div>
        </div>
        <br>
        <button class="submit-btn" type="submit" [disabled]="!acceptance" (click)="continue()">Continuar</button>
      </fieldset>
    </div>

</section>