<section class="get-in-touch">
   <h1 class="title">Cuestionario validación por expertos</h1>
   <p class="lead text-justify">
    Queremos expresarle nuestro agradecimiento por haber aceptado la solicitud para participar como jurado experto en la validación del instrumento 
    <b>"catálogo de olores comunitarios como herramienta de apoyo para el diagnóstico de olores en las comunidades de desarrollo de software". </b>
    El objetivo de la investigación desarrollada, desde un enfoque cuantitativo, es <b>"medir la percepción de un catálogo para un subconjunto 
    de olores comunitarios, previamente identificados, que permita detectar la presencia de estos olores en las 
    comunidades de desarrollo de software"</b> e identificar los posibles olores comunitarios existentes dentro de una comunidad 
    de desarrollo de software que conducen a retrasos, fracaso general del proyecto e influyen en el bienestar y el 
    desempeño de los miembros del equipo, generando deuda social. Para nosotros es muy importante contar con su colaboración, 
    dada su experiencia en el tema que nos convoca. Por tal motivo, agradecemos enormemente que haya dispuesto de su tiempo para ello. 
    A continuación, encontrará las instrucciones para llevar a cabo la revisión, y estaremos atentos a cualquier aclaración que requiera, si es el caso.
    </p>

    <div style="text-align:center">
      <button class="submit-btn" (click)="redirigir()"> Continuar</button>
    </div>   
</section>
